**Задание по программированию: Преобработка данных в Pandas**

In [2]:
import pandas

In [3]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')


1) Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [4]:
data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64


2) Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [7]:
data['Survived'].value_counts()[1]/data.shape[0] * 100

38.38383838383838

3) Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [9]:
data['Pclass'].value_counts()[1]/data.shape[0] * 100

24.242424242424242


4) Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [5]:
data["Age"].median(axis=0)

28.0


5) Коррелируют ли число братьев/сестер с числом родителей/детей?Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [10]:
df = data[['SibSp', 'Parch']]
df.corr(method='pearson')

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000


6) Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [ ]:
result = []
for index, row in data.iterrows():
  str = row["Name"]
  import re
  arr_miss = str.split(" ")
  arr_mrs = re.split('[ )(]', str)

  ind_miss = arr_miss.index("Miss.") if "Miss." in arr_miss else -1
  if ["Mrs."] in arr_mrs:
    ind_mrs = arr_mrs.index("")
  else:
    ind_mrs = -1
  
  if ind_miss != -1:
    result.append(arr_miss[ind_miss+1])
  
  if ind_mrs != -1:
    result.append(arr_mrs[ind_mrs+1])

#print(result)
print(max(a for a in result if result.count(a) == max(map(result.count, result))))

Mary

Другой вариант (проще намного):

In [11]:
def clean(name):
    name = name.split(',')[1][1:].split(' ')
    if ((name[0] == 'Miss.') | (name[0] == 'Ms') ):
        return name[1]

In [12]:
data['Name'].map(clean).value_counts().head()

Mary         9
Anna         9
Margaret     6
Elizabeth    5
Helen        4
Name: Name, dtype: int64